
/*limit scroll once elements are in place with overflow -y hidden*/


/*Menu screens*/

#parallax {
    perspective: 1px;
    perspective-origin: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#container1{
    display: none;
    position: absolute;
    margin: auto;
    width: 90vw;
    height: 90vh;
    margin: auto;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    animation: bgchange infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    font-size: 36pt;
}


#logo {
    transform: translateZ(.15px) scale(.5) translateY(0vh) translateX(0vw);
    z-index: 100;
    top: 10vh;
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
    position: absolute;
    
}

#logoImg {
    width: 45%;
}

/*Main Menu*/

#startBtn{
    transform: translateZ(.15px) scale(.5) translateY(0vh) translateX(0vw);
    z-index: 100;
    bottom: 10vh;
    left:0;
    right: 0;
    margin: auto;
    width: 300px;
    text-align: center;
    position: absolute;
    animation: startGlow 2s infinite;
    cursor: pointer;
}



#header img{
    width: 600px;
    left:0;
    right: 0;
    bottom:1500px;
    margin: auto;
    height: auto;
    position: absolute;
}

#mMenu{
    text-align: center;
    width: 600px;
    left:0;
    right: 0;
    bottom:800px;
    margin: auto;
    position: absolute;    
    height: auto;
}

#mMenu img{
    width: 600px;
    
}

#signIn img{
    width: 200px;
    left:0;
    right: 0;
    bottom: 350px;
    margin: auto;
    position: absolute;
    cursor: pointer;
}

#mMaking img{
    width: 200px;
    left:0;
    right: 0;
    bottom: 300px;
    margin: auto;
    position: absolute;
}


#options img{
    width: 200px;
    left:0;
    right: 0;
    bottom: 250px;
    margin: auto;
    position: absolute;
}


#back1 img{
      left:0;
    right: 0;
    bottom: 150px;
    margin: auto;
    position: absolute;
    width: 200px;
}

#signIn img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#mMaking img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#options img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#back1 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

/*login Menu*/
#menuB{
    display: none;
}

#subHeader1 img{
    left:0;
    right: 0;
    top: 50px;
    margin: auto;
    position: absolute;
    width: 400px;    
}

#back2 img{
    left:70px;
    bottom: 160px;
    margin: auto;
    position: absolute;
    width: 200px;
    
}

#sub1 img{
    right: 70px;
    margin: auto;
    position: absolute;
    width: 200px;
    bottom: 160px;
}

#back2 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#sub1 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

/*Matchmaking Menu*/
#menuC{
    display: none;
}
    
#join1 img{
      left:0;
    right: 0;
    top: 100px;
    margin: auto;
    position: absolute;
    width: 200px;
}


#host1 img{
    left:0;
    right: 0;
    top: 150px;
    margin: auto;
    position: absolute;
    width: 200px;
}

#back3 img{
    left:0;
    right: 0;
    top: 260px;
    margin: auto;
    position: absolute;
    width: 200px;
}

#join1 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#host1 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#back3 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

/*join Menu*/

#jMenu{
    display: none;
    width: 600px;
    left:0;
    right: 0;
    bottom:580px;
    margin: auto;
    position: absolute;
    height: auto;
    
}

#jMenu img{
    width: 600px;    
}

#back4 img{
    left: 70px;
    bottom: 160px;
    margin: auto;
    position: absolute;
    width: 200px;
    
}

#join2 img{
    right: 70px;
    margin: auto;
    position: absolute;
    width: 200px;
    bottom: 160px;
}

#back4 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#join2 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}


/*Host game page*/

#hMenu{
    display: none;
    width: 600px;
    left:0;
    right: 0;
    bottom:820px;
    margin: auto;
    position: absolute;
    height: auto;
}

#hMenu img{
    width: 600px; 
}

#host2 img{
    right: 70px;
    margin: auto;
    position: absolute;
    width: 200px;
    bottom: 160px;
}

#back5 img{
   left: 70px;
    bottom: 160px;
    margin: auto;
    position: absolute;
    width: 200px;
}

#subHeader2 img{
    left:0;
    right: 0;
    top: 60px;
    margin: auto;
    position: absolute;
    width: 400px;    
}

#host2 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

#back5 img:hover{
filter: drop-shadow(0px 0px 10px #ffffff);
}

/*Start Screen Background*/

#city1 {
    position: absolute;
    transform: translateZ(.25px) scale(.75) translateY(-40vh); 
    width: 100%;
}

#city1Img{
    width: 100%;
}

#city2 {
    position: absolute;
    transform: translateZ(0px) scale(1) translateY(-1vh); 
    width: 100%;
}

#city2Img{
    width: 100%;
}

#city3 {
    position: absolute;
    transform: translateZ(-.25px) scale(1.25) translateY(10vh);
    width: 100%;
}

#city3Img{
    width: 100%;
}

#city4 {
    position: absolute;
    transform: translateZ(-.5px) scale(1.5) translateY(30vh);
    width: 100%;
}

#city4Img{
    width: 100%;
}

#city5 {
    position: absolute;
    transform: translateZ(-.75px) scale(1.75) translateY(35vh); 
    width: 100%;
}

#city5Img{
    width: 100%;
}
/*animations*/

@keyframes bgchange {
    0%   {background-color: #fdfdfd;}
    100% {background-color: #bababa;}
}

@keyframes startGlow {
           0% {color: #ffffff;}
           100% {color: rgba(0, 0, 0, 0);}
      } 


/*Battlefield*/

#container2{
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    display:block;
}

#parallax2 {
    perspective: 1px;
    perspective-origin: center;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto;
    width: 110vw;
    height: 110vh;
    margin: auto;
}
#bg1 {
    position: absolute;
    margin: auto;
    bottom: -200px;
    width: 100vw;
    height: auto;
    transform: scale(1.2);
    
}

#bg1Img{
    width: 100vw;
}

#chars1 img{
    position: absolute;
    transform: translateZ(.15px) scale(.15) translateY(-630vh) translateX(-240vw); 
    width: 100%
}

#chars2 img{
    position: absolute;
    transform: translateZ(.15px) scale(.15) translateY(-350vh) translateX(-160vw); 
    width: 100%
}


#chars3 img{
    position: absolute;
    transform: translateZ(.15px) scale(.15) translateY(-300vh) translateX(-100vw); 
    width: 100%
}

#chars4 img{
    position: absolute;
    transform: translateZ(.14px) scale(.12) translateY(-10vh) translateX(-50vw); 
    width: 100%
}

#chars5 img{
    position: absolute;
    transform: translateZ(.15px) scale(.19) translateY(-360vh) translateX(180vw); 
    width: 100%
}

#chars6 img{
    position: absolute;
    transform: translateZ(.15px) scale(.10) translateY(-680vh) translateX(130vw); 
    width: 100%
}


#chars7 img{
    position: absolute;
    transform: translateZ(.15px) scale(.09) translateY(-1320vh) translateX(235vw); 
    width: 100%
}

#chars8 img{
    position: absolute;
    transform: translateZ(.15px) scale(.07) translateY(-640vh) translateX(70vw); 
    width: 100%
}

#bg2 {
    position: absolute;
    transform: translateZ(0px) scale(1) translateY(-5vh); 
    width: 100%;
}

#bg2Img{
    width: 100%;
}

#bg3 {
    position: absolute;
    transform: translateZ(-.25px) scale(1.25) translateY(0vh);
    width: 100%;
}

#bg3Img{
    width: 100%;
}

#bg4 {
    position: absolute;
    transform: translateZ(-.75px) scale(1.75) translateY(-5vh);
    width: 100%;
}

#bg4Img{
    width: 100%;
}

#bg5 {
    position: absolute;
    transform: translateZ(-1px) scale(2) translateY(-5vh); 
    width: 100%;
}

#bg5Img{
    width: 100%;
}


/*paralax*/


/*cards*/


